<div class='panel fixed bottom '>
  <div class='' >
    <p class='lead font-libre '>The evolutionary tree of mind project is an open-source meta-research platform on the evolution of consciousness, cogntion and the emotions in animals. It's aim is to make the entire scientific and philosophical literature on this topic-cluster accessible to everyone in a way that facilitates understanding the fascinating and complex subject. There are a variety of ways to access information, and/or to contribute to the project, depending on whether you are a researcher, a student, or anyone in the world with the access to the web.</p>

    <p class='lead font-libre'>The evolutionary tree of mind was built under NSF Grant Project: Assembling the Tree of Consciousness: A Study of Scientific Methodology for Investigating the Phylogenetic Distribution of Consciousness (Postdoctoral Fellowship) </p></div>
</div>
<SCRIPT TYPE="text/javascript">
  setRandomBRPic();
  $('#colorChangerLight').remove();
</SCRIPT>