<div class=''>
  <ul class='display-flex-row justify-around width-100 bordered'>
    <li class='no-list-styles margin-1'><h3><a href='/'>welcome</a></h3></li>
    <li class='no-list-styles margin-1'><h3><a href='/welcome/about'>about</a></h3></li>
    <li class='no-list-styles margin-1'><h3><a href='/publications'>publications</a></h3></li>
    <li class='no-list-styles margin-1'><h3><a href='/authors'>authors</a></h3></li>
    <li class='no-list-styles margin-1'><h3><a href='/topics'>topics</a></h3></li>
  </ul>
</div>