
<div class='panel panel-header '>
  <div class=''><h1>EvolutionaryTreeOfMind.org</h1></div>
  <div class='container-fluid'>
    <ul class='container-fluid'>
      <li class='  navbar-nav nav pull-left padding-10'><h3><a href='/'>welcome</a></h3></li>

      <li class='  navbar-nav nav pull-left padding-10'><h3><a href='/publications'>publications</a></h3></li>
      <li class='  navbar-nav nav pull-left padding-10'><h3><a href='/authors'>authors</a></h3></li>
      <li class='  navbar-nav nav pull-left padding-10'><h3><a href='/topics'>topics</a></h3></li>

      <% if session[:contributor_id]  %>
        <li class='  navbar-nav nav pull-right padding-10'><h3><a href='/logout'>logout <%= session[:contributor_name] %></a></h3></li>
      <% else %>
        <li class='  navbar-nav nav pull-right'><h4><a href='/loginz'>contributor login</a></h4></li>
      <% end %>
    </ul>
  </div>
</div>